<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.gymrat">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".widget.PRWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>
        <service
            android:name=".widget.PRWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".GeoFenceTransitionIntentService"
            android:exported="true" />

        <activity
            android:name=".ui.WorkoutsActivity"
            android:label="@string/workouts" />
        <activity
            android:name=".ui.GymsActivity"
            android:label="@string/gyms" />
        <activity
            android:name=".ui.PRsActivity"
            android:label="@string/myGyms" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name=".ui.InviteActivity"
            android:label="@string/invite" />
        <activity android:name=".ui.AddWorkoutActivity" />
        <activity
            android:name=".ui.AddGymActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ui.AddPRActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <provider
            android:name=".db.DBContentProvider"
            android:authorities="@string/content_authority"
            android:exported="true"
            android:syncable="true" />

        <activity
            android:name=".ui.WorkoutDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>